<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Заголовок{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
{% if g.user %}
    <p>{{ g.user.login }}</p>
{% endif %}

{% block menu %}
    {% include 'menu.html' %}
{% endblock %}

{% block content %}
<h1>Контент</h1>
{% endblock %}
<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/static/js/script.js"></script>
</body>
</html>