{% extends 'base.html' %}

{% block content %}
<h2>Создание группы</h2>
<form action="" method="post">
    <p>
        <label for="id_name">Название</label>
        <input type="text" name="name" id="id_name" value="{{ form.name }}"/>
        {% if form.errors.name %}
            <span style="color: red;">{{ form.errors.name }}</span>
        {% endif %}
    </p>
    <p>
        <input type="submit" value="Сохранить"/>
        <input type="reset" value="Восстановить"/>
    </p>
</form>
{% endblock %}