{% extends 'base.html' %}

{% block content %}
<h2>Создание студента</h2>
<form action="" method="post">
    <p>
        <label for="id_id_group">Группа</label>
        <select name="id_group" id="id_id_group">
            {% for group in groups  %}
                {% if form.id_group == group.id %}
                    <option value="{{ group.id }}" selected="selected">{{ group.name }}</option>
                {% else %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        {% if form.errors.id_group %}
            <span style="color: red;">{{ form.errors.id_group }}</span>
        {% endif %}
    </p>
    <p>
        <label for="id_fio">ФИО</label>
        <input type="text" name="fio" id="id_fio" value="{{ form.fio }}"/>
        {% if form.errors.fio %}
            <span style="color: red;">{{ form.errors.fio }}</span>
        {% endif %}
    </p>
    <p>
        <label for="id_course">course</label>
        <input type="text" name="course" id="id_course" value="{{ form.course }}"/>
        {% if form.errors.course %}
            <span style="color: red;">{{ form.errors.course }}</span>
        {% endif %}
    </p>
    <p>
        <input type="submit" value="Сохранить"/>
        <input type="reset" value="Восстановить"/>
    </p>
</form>
{% endblock %}