{% extends 'base.html' %}

{% block content %}
<h2>Редактирование студента {{ student.id }}</h2>
<form action="" method="post">
    <p>
        <label for="id_fio">ФИО</label>
        <input type="text" name="fio" id="id_fio" value="{{ form.fio }}"/>
        {% if form.errors.fio %}
            <span style="color: red;">{{ form.errors.fio }}</span>
        {% endif %}
    </p>
    <p>
        <label for="id_course">course</label>
        <input type="text" name="course" id="id_course" value="{{ form.course }}"/>
        {% if form.errors.course %}
            <span style="color: red;">{{ form.errors.course }}</span>
        {% endif %}
    </p>
    <p>
        <input type="submit" value="Сохранить"/>
        <input type="reset" value="Восстановить"/>
    </p>
</form>
{% endblock %}