{% extends 'base.html' %}

{% block content %}
    <table border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Группа</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td><a href="{{ url_for('edit_group', id_group=group.id) }}">{{ group.id }}</a></td>
                    <td><a href="{{ url_for('edit_group', id_group=group.id) }}">{{ group.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}