{% extends 'base.html' %}

{% block content %}
    <table border="1">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Группа</th>
                <th>Курс</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td><a href="{{ url_for('edit_student', id_student=student.id) }}">{{ student.fio }}</a></td>
                    <td>{{ student.group.name }}</td>
                    <td>{{ student.course }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if len(students) < count %}
        <a href="{{ url_for('get_more_students') }}" data-offset="0" data-count="{{ count }}" id="get_more_students">Еще</a><br/>
    {% endif %}

    <a href="{{ url_for('get_students_count') }}" id="get_students_count">Количество студентов</a>
{% endblock %}