{% extends 'base.html' %}

{% block content %}
<h2>Создание студента</h2>
<form action="" method="post">
    <p>
        <label for="id_login">Логин</label>
        <input type="text" name="login" id="id_login" value="{{ form.login }}"/>
        {% if form.errors.login %}
            <span style="color: red;">{{ form.errors.login }}</span>
        {% endif %}
    </p>
    <p>
        <label for="id_password">Пароль</label>
        <input type="password" name="password" id="id_password" value="{{ form.password }}"/>
        {% if form.errors.password %}
            <span style="color: red;">{{ form.errors.password }}</span>
        {% endif %}
    </p>
    <p>
        <input type="submit" value="Войти"/>
    </p>
</form>
{% endblock %}