<h1>Меню сайта</h1>
<ul>
    <li><a href="{{ url_for('index') }}">Главная страница</a></li>
    <li><a href="{{ url_for('create_student') }}">Создать студента</a></li>
    <li><a href="{{ url_for('get_all_students') }}">Все студенты</a></li>
    <li><a href="{{ url_for('get_all_groups') }}">Все группы</a></li>
    <li><a href="{{ url_for('create_group') }}">Создать группу</a></li>
    <li><a href="{{ url_for('login') }}">Войти</a></li>
    <li><a href="{{ url_for('logout') }}">Выйти</a></li>
</ul>