<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Время на сервере</title>
</head>
<body>
<h1>{{ current_date }}</h1>
{% if current_date.minute % 2 == 0 %}
    <ul>
        {% for x in a %}
            <li>{{ x }}</li>
        {% endfor %}
    </ul>
{% else %}
    <ul>
        {% for x in b %}
            <li>{{ x }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>